[submodule "dots/.config/quickshell/ii/modules/common/widgets/shapes"]
	path = dots/.config/quickshell/ii/modules/common/widgets/shapes
	url = https://github.com/end-4/rounded-polygon-qmljs.git
[submodule "dots/.config/quickshell/ii/scripts/lyrics/genius-lyrics"]
	path = dots/.config/quickshell/ii/scripts/lyrics/genius-lyrics
	url = https://github.com/vaguesyntax/genius-lyrics-qmljs.git
